## Settings file was created by plugin Ace Attorney Trilogy Thai Mod v1.0.0
## Plugin GUID: com.translate_kordai.ace_attorney_trilogy_thai_mod

[Translation]

## Choose the translation mode: Translated or Localized.
# Setting type: TranslationMode
# Default value: Translated
# Acceptable values: Translated, Localized
TranslationMode = Localized

